body{
  font-family: "Roboto", sans-serif;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.dropdown-content a:hover{
  background-color: #e0e0e0;
}
