body{
  font-family: "Roboto", sans-serif;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.dropdown-content a:hover{
  background-color: #e0e0e0;
}

.box-menu{
  background-color: #00c853;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #FFF;
  width: 250px;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.biru{
  background-color: #0091ea;
}

.box-menu h4{
  font-size: 30px;
  color: #FFF;
  margin-top: 10px;
}

.box-menu a{
  color: #FFF;
}

.geser{
  margin-left: 20px;
}

.homeimage{
  height: 100%;
  border-radius: 8px;
  margin-top: -50px;
  margin-left: 22px;
}